* {
  background-color: gainsboro;
}

input {
  height: 30px;
  width: 300px;
  background-color: white;;
  color: black;
}

button {
  height: 40px;
  width: 80px;
  background-color: black;
  color: white;
}
