* {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.carousel-container {
  width: 90%;
  display: flex;
}

.images-carousel {
  width: 50%;
  padding: 10px;
}

.images-carousel img {
  width: 100%;
}

.carousel-container button {
  align-self: center;
  color: #888;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.title {
  position: absolute;
  color: white;
  align-self: flex-end;
  background-color: black;
  font-size: 30px;
  margin: 10px;
  height: 150px;
  width: 400px;
  text-align: center;
}


.form-ctnr {
  position: absolute;
  top: 40%;
  align-self: flex-end;
  color: black;
}

input {
  height: 30px;
  width: 300px;
  background-color: white;
  color: black;
}

button {
  height: 40px;
  width: 80px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: #f25252;
}
