* {
  font-family: 'Ubuntu Condensed', sans-serif;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 16px;
}

.images-carousel {
  width: 50%;
  border-radius: 10px;
  box-sizing: border-box;
}

.images-carousel img {
  width: 100%;
  border-radius: 10px;
  display: none;
}

.images-carousel img:first-of-type {
  display: block;
}

.title {
  position: relative;
  color: black;
  letter-spacing: 10px;
  align-self: center;
  font-size: 40px;
  text-align: center;
}

.form-ctnr {
  position: relative;
  top: 60%;
  align-self: center;
  color: black;
}

.form {
  display: flex;
  text-align: center;
  margin: 5px;
}

input {
  height: 40px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: 18px;
}

button {
  height: 45px;
  width: 80px;
  background-color: black;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: #f25252;
}

h3 {
  text-align: center;
}

.output {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.output h4 {
  padding: 10px;
}
